body {
    margin: 0; 
}

footer {
  display: flex;
  align-items: flex-end;
  background-image: linear-gradient(to right, rgb(243, 154, 37) , rgb(107, 207, 238));
  height: 15em;
}

.slogan {
    margin: 2em;
}

@media (max-width: 768px) { 
  .footer {
    
  } 
}

@media (max-width: 600px) {
  .footer {
    g
  }
}

@media (max-width: 992px) {
  .footer {
  
  }
}

