body {
    /* display: flex;
   align-content: center; */
    display: flex;
    justify-content: center;
    background-color: rgb(253, 253, 252);
    padding: 1em;
    font-size: 12pt;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

form {
    display: grid;
    border: 2px solid black;
    background-color: beige;
    border-radius: 0.4em;
    padding: 1.3em;
    max-width: 33em;

}

legend {
    text-decoration: underline;
    margin-bottom: 0.2em;
    margin-top: 2em;
}

.form-box {
    display: flex;
    flex-direction: column;
    background-color: beige;
    margin: 0.5em 0;
    /*förklara varför*/
    gap: 0.25em;
}

/* #text-input-adress {
    padding: 2em;
} */

#text-input-name {
    padding: 1em;
}

#text-input-name:invalid, 
#text-input-e-mail:invalid, 
#text-input-address:invalid{
    border: 2px solid red;
    background-color: #ffe6e6;
}

#text-input-name:valid, 
#text-input-e-mail:valid, 
#text-input-address:valid{
    border: 2px solid green;
    background-color: #e6ffe6;
}

#text-input-e-mail {
    padding: 1em;
}

#text-input-address {
    padding: 1em;
}

.checkbox {
    margin: 5px;
}

.time-box {
    padding: 8px;
}

.food-box {
    padding: 8px;
}

.radio-box {
    padding: 8px;
}

.radio-box {
    gap: 1em;
}

.food-box {
    gap: 2em;
}

.allergies {
    margin-top: 1.5em;
}

input[type="radio"] {
    width: var(--form-element-size);
    /*förklara varför*/
    height: var(--form-element-size);
    /*kan jag göra dom större??*/
    cursor: pointer;
    /* göra de bredare?? */
}

.food {
    border-top: 1px solid black;
    padding-top: 1.5em;
}


button {
    font-size: 12pt;
    padding: 0.3em 1.2em;
    margin-top: 1em;
    margin-bottom: 2em;
    border-radius: 0.5em;
    border: 2px solid rgb(233, 175, 98);
    background: none;

    &.cta {
        background-color: white;
        color: black;
        padding: 10px;
        margin-bottom: 4em;
    }

    &:hover {
        cursor: pointer;
        box-shadow: inset 0 0 0.2em .1em rgb(107, 207, 238);
        background-color: rgb(243, 154, 37);
        color: white;
    }

}