.text-position {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, rgb(243, 154, 37), rgb(107, 207, 238));
  height: 6em;
  width: 100%;
  gap: 2em;
}
.logo {
  width: 5em;
  margin: 5px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}


.info {
  border: solid 1px rgb(233, 175, 98);
  border-radius: 8px;
  background-color: white;
  padding: 5px; 
  margin-left: auto; 
  margin-top: 5px; 
  margin-right: 8px; 
  margin-bottom: 8px; 
  box-shadow: 0.2em 0.3em 0.1em rgb(241, 195, 151, 1);
  transition: background-color 0.5s;
  font-size: 1em;

  .navigation-link {
    color: black;
    text-align: center;
  }
 
  &:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0.2em .1em rgb(233, 175, 98);
    background-color: rgb(233, 175, 98);
    color: white;
  }
}

.slogan {
  flex-grow:3;
  color: rgb(252, 250, 250);
  text-shadow: black 1px 0 10px;
}

.banner {
  /* background: url("../img/Screenshot\ 2025-10-13\ 170724.png"); */
  /* height: 200px; */
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(107, 207, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 100%;
  overflow: hidden;
  /* margin-top: 2em; */
  /* background-position-x: 100%;  */
  /* background-position-y: 35%;   */
  /* background-size: 100%; */
  /* background-repeat: no-repeat; */
}

.text-position {
  background-color: beige;
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgb(243, 154, 37);
  width: 28em;
  height: 7em;
  padding-top: 15px; 
  padding-left: 15px; 
  border-radius: 10%;
  font-family: sans-serif;
  
} 




@media (max-width: 600px) {
  .banner {
   
  }
}

@media (max-width: 768px) {
  .banner {
    
  }
}

@media (max-width: 992px) {
  .banner {
    
  }
}